@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Kode+Mono:wght@400..700&display=swap');
@import url('https://v1.fontapi.ir/css/Vazir');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vazir, sans-serif;

}

body{
  background-color: #f3f4f6;
}